<div class="container mt-5">
    <div class="text-center mb-3">
        <h3>Contact us</h3>
    </div>
    <div class="row g-2">
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://i.imgur.com/xuGJbnU.png" width="40">
                <h5>Address</h5>
                <p>NED, university, karachi</p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://i.imgur.com/TNKflal.png" width="40">
                <h5>Email</h5>
                <p>contact@key-broker.com</p>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://i.imgur.com/pZLFSO3.png" width="40">
                <h5>Phone</h5>
                <p>9854959754</p>
            </div>
        </div>
        
    </div>
    <img src={{val1}} alt="">
    
    
</div>