
  <app-side-menu-bar></app-side-menu-bar>
  <section class="home-section">
      <nav>
          <div class="sidebar-button">
              <i class='bx bx-menu sidebarBtn'></i>
              <span class="dashboard">Property Detail</span>
          </div>
          <!-- <div class="search-box">
              <input type="text" placeholder="Search...">
              <i class='bx bx-search'></i>
          </div> -->
          <div class="profile-details">
              <!--<img src="images/profile.jpg" alt="">-->
              <span class="admin_name">Hamdan</span>
              <i class='bx bx-chevron-down'></i>
          </div>
      </nav>
      </section>
  <body style="width: 1200px; margin-left: 300px;">
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="pic-1"><img src="assets/images/homeimage.jpg" /></div>
						  <div class="tab-pane" id="pic-2"><img src="assets/images/homeimage.jpg" /></div>
						  <div class="tab-pane" id="pic-3"><img src="assets/images/homeimage.jpg" /></div>
						  <div class="tab-pane " id="pic-4"><img src="assets/images/homeimage.jpg" /></div>
						  
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="assets/images/homeimage.jpg" /></a></li>
						  <li><a data-target="#pic-2" data-toggle="tab"><img src="assets/images/homeimage.jpg" /></a></li>
						  <li><a data-target="#pic-3" data-toggle="tab"><img src="assets/images/homeimage.jpg" /></a></li>
						  <li><a data-target="#pic-4" data-toggle="tab"><img src="assets/images/homeimage.jpg" /></a></li>
						  
						</ul>
						
					</div>
					<div class="details col-md-6">
					<h3 class="product-title">{{propertyList[0].nameofpropery}}</h3>
                        



						<div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<!-- <span class="review-no">41 reviews</span> -->
						</div>
						<p class="product-description">{{propertyList[0].detail}}</p>
						<h4 class="price">Property Size: <span>{{propertyList[0].size}}</span></h4>
                        <h4 class="price">Rooms: <span>{{propertyList[0].room}}</span></h4>
						<h4 class="price">Address: <span>{{propertyList[0].address}}</span></h4>
						<h4 class="price">current price: <span>{{propertyList[0].price}} lac</span></h4>


						<!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> -->
						<!-- <h5 class="sizes">sizes:
							<span class="size" data-toggle="tooltip" title="small">s</span>
							<span class="size" data-toggle="tooltip" title="medium">m</span>
							<span class="size" data-toggle="tooltip" title="large">l</span>
							<span class="size" data-toggle="tooltip" title="xtra large">xl</span>
						</h5> -->
						<!-- <h5 class="colors">colors:
							<span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
							<span class="color green"></span>
							<span class="color blue"></span>
						</h5> -->
						<div class="action">
							<a routerLink="/buyer-form/{{id}}"><button class="add-to-cart btn btn-default" type="button">Interested</button></a>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
