.dropdwon_box{padding:15px;}


/*Footer start*/
            .codepen_profile{position: fixed; right: 20px; bottom: 20px;}
            .codepen_profile a {background: rgb(245 122 32 / 53%); padding: 15px; border-radius: 50%; box-shadow: hsl(0deg 0% 80%) 0 5px 16px; height: 60px; width: 60px; display: inline-block; }

            ul {
                margin: 0;
                padding: 0;
            }
            li {
                list-style-type: none;
            }
            #nav {
                display: table;
                table-layout: fixed;
                text-align: center;
            }
            #nav li {
                display: table-cell;
                width: 25%;
                padding-right: 1px;
                height: auto;
                vertical-align: bottom;
            }
            #nav a {
                display: block;
                min-height: 100%;
                padding: 12px 50px;
                background-color: #222;
                color: white;
                border-radius: 6px 6px 0 0;
            }
            
            .logoutLblPos{
            
               position:fixed;
               right:10px;
               top:5px;
            }     
